<div class="row">
  <div class="col-md-4">
  	<div class="options-button">
    		Exceptional
		</div>
  </div>

  <div class="col-md-4">
  	<div class="options-button">
  	  	Good
		</div>
  </div>

  <div class="col-md-4">
  	<div class="options-button">
  	  	Needs Improvement
		</div>
  </div>
</div>