<div class="list-group list-group-contacts"> 
	<% 4.times do %>
    <div class="list-group-item <%#= @question.multiple ? 'multiple_options' : 'single_option' %>" data-option_id="<%# o.id %>">
    	<span class="contacts-title">Option</span>
    	<%#= f.check_box ao.id, value: nil, class: 'hidden'  %>
    </div> 
  <% end %>
</div>
