<div class="row">
  <div class="survey-group">
		<div class="col-md-3">
	  	<div class="question">
	    		Cleanliness:
			</div>
	  </div>

	  <div class="col-md-1">
	  	<div class="options-button">
	    		1
			</div>
	  </div>

	  <div class="col-md-1">
	  	<div class="options-button">
	  	  	2
			</div>
	  </div>

	  <div class="col-md-1">
	  	<div class="options-button">
	  	  	3
			</div>
	  </div>

	  <div class="col-md-1">
	  	<div class="options-button">
	  	  	4
			</div>
	  </div>

	  <div class="col-md-1">
	  	<div class="options-button">
	  	  	5
			</div>
	  </div>
  </div>
</div>