<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/javascripts/jkeyboard.js"></script>
<link rel="stylesheet" href="/stylesheets/jkeyboard.css">

<div class="row">
		<div class="survey-comment-box">  
    	<%= text_area_tag :comment, '', class: 'form-control survey-comment'  %>
    </div>
</div>