<div class="row">
  <div class="page-control-btn control-btn-left">
  <span class="fa fa-arrow-left"></span> 
   Back
  </div>
  <div class="page-control-btn control-btn-right">
  	Next
  	<span class="fa fa-arrow-right"></span> 
  </div>
</div>