<div class="row">
  <%= link_to 'Back', {controller: :questions, action: :show, id: @previous_question_id, next_question: nil}, class: 'page-control-btn control-btn-left delink' if !@previous_question_id.nil? %>
  <% if !@next_question.nil? %>
		<%= submit_tag "Next", class: "page-control-btn control-btn-right" %>
  <% else %>
  	<%= submit_tag "Finish", class: "page-control-btn control-btn-right" %>
  <% end %>
  
</div>
