<div class="row">
  <div class="page-control-btn control-btn-left">
  <span class="fa fa-arrow-left"></span> 
   Back
  </div>
  <% if !@next_question.nil? %>
		<%= submit_tag "Next", class: "page-control-btn control-btn-right" %>
  <% else %>
  	<%= submit_tag "Finish", class: "page-control-btn control-btn-right" %>
  <% end %>
  
</div>
