<ul class="x-navigation x-navigation-horizontal x-naviagtion-panel">
    <li class="xn-logo">
        <a href="index.html">MARQUEE</a>
        <a href="#" class="x-navigation-control"></a>
    </li>
    <li><%= link_to 'Edit Survey', {controller: :admin, action: :edit_survey} %></li>
    <li><a>View Results</a></li>                      
</ul>